.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

div.mat-expansion-panel-body {
  padding: 0;
}

mat-list-option.hide-checkbox {
  .mat-pseudo-checkbox {
    display: none !important;
  }
}
