<mat-expansion-panel class="series-panel" (expandedChange)="displayBooks($event)" (afterCollapse)="hideBooks()">
  <mat-expansion-panel-header>
    <mat-panel-title fxFlex.lt-lg="80">
      {{series}}
    </mat-panel-title>
    <mat-panel-description>
      <div fxFlex.lt-lg="100" fxFlex.gt-md="20" fxLayoutAlign.lt-lg="end" fxLayoutAlign.gt-md="space-between" *ngIf="displayProgress()">
        <span *ngIf="getProgressValue() === 100"> {{"BOOK.LIST.SERIES.STATUS.COMPLETED" | translate}} </span>
        <span *ngIf="getProgressValue() < 100"> {{getReadedBooksCount()}} / {{seriesData.seriesBookCount}} </span>
      </div>
      <mat-progress-bar
        fxHide.lt-lg
        *ngIf="displayProgress()"
        fxFlex.gt-md="80"
        mode="determinate"
        [bufferValue]="seriesData.seriesBookCount"
        [value]="getProgressValue()">
      </mat-progress-bar>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <ng-container *ngIf="display">
    <mat-selection-list dense class="series-books" #list>
      <div *ngFor="let book of seriesData.books; let i = index" fxLayoutAlign="space-between center">
        <mat-list-option style="margin-right: -140px;"
                         [ngClass]="{'hide-checkbox': (isAuthenticated$ | async) === false}"
                         checkboxPosition="before"
                         [value]="book">
          <div fxFlex="100">
            <app-book-status [status]="book.status" [withText]="false"></app-book-status>
            <span *ngIf="book.tome !== null">{{book.tome}} - </span> {{book.title}}
          </div>
        </mat-list-option>
        <div style="padding-right: 15px;">
          <button [routerLink]="['detail', book.isbn]" [queryParamsHandling]="'preserve'" mat-stroked-button>
            {{'BOOK.LIST.SERIES.BUTTONS.DETAILS' | translate}}
            <fa-icon [icon]="['fas', 'chevron-right']" style="padding-left: 10px"></fa-icon>
          </button>
        </div>
      </div>
    </mat-selection-list>

    <mat-action-row *ngIf="(isAuthenticated$ | async)">
      <div fxFlex fxLayoutAlign="end" fxLayoutGap="10px">
        <button fxHide.lt-lg mat-stroked-button [disabled]="list.selectedOptions.selected.length >= seriesData.books.length"
                (click)="list.selectAll()">
          <span>{{'BOOK.LIST.SERIES.ACTION_ROW.ALL_SELECT' | translate}}</span>
        </button>
        <button fxHide.lt-lg mat-stroked-button [disabled]="list.selectedOptions.selected.length === 0" (click)="list.deselectAll()">
          <span>{{'BOOK.LIST.SERIES.ACTION_ROW.ALL_DESELECT' | translate}}</span>
        </button>
        <button mat-stroked-button [disabled]="list.selectedOptions.selected.length === 0" [matMenuTriggerFor]="menu">
          <span>{{'BOOK.LIST.SERIES.ACTION_ROW.MARK_AS' | translate}}</span>
        </button>
        <button mat-stroked-button [disabled]="list.selectedOptions.selected.length !== 1" (click)="openLendModal(list.selectedOptions.selected[0])">
          <span>{{'BOOK.LIST.SERIES.ACTION_ROW.LEND' | translate}}</span>
        </button>
        <mat-menu #menu="matMenu">
          <button [ngSwitch]="status" mat-menu-item *ngFor="let status of statusValues" (click)="changeBookState(list.selectedOptions.selected, status)">
            <app-book-status-read-icon *ngSwitchCase="'READ'"></app-book-status-read-icon>
            <app-book-status-unread-icon *ngSwitchCase="'UNREAD'"></app-book-status-unread-icon>
            <app-book-status-reading-icon *ngSwitchCase="'READING'"></app-book-status-reading-icon>
          </button>
        </mat-menu>
      </div>
    </mat-action-row>
  </ng-container>
</mat-expansion-panel>
