<div style="height: 100%">
  <div fxLayout="column" class="content">
    <div fxLayout="row" fxLayoutAlign="center">
      <h1 style="text-align: center">{{'ARTIST.LIST.TITLE' | translate}}</h1>
    </div>
    <div fxLayout="column" >
      <div fxLayout="row" fxFlex="33" fxLayoutGap="2rem">
        <div>
          <div fxLayout="row" fxLayoutAlign="space-around">
            <app-list-filter fxFlex="100"
                             [value]="filterStr$ | async"
                             (filter)="onFilter($event)"
                             translateKey="ARTIST.LIST.FILTER_PLACEHOLDER">
            </app-list-filter>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-around">
            <app-artist-list (newPage)="onNewPage($event)" (selectedItem)="onSelectedItem($event)"></app-artist-list>
          </div>
        </div>
        <div fxFlex>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
