<mat-toolbar class="app-toolbar" color="default" [fxLayout]="'row'" [fxLayoutAlign]="'space-between center'">
  <div fxLayoutGap="1rem">
    <span class="clickable" [routerLink]="'/book'">{{'HEADER.APP_TITLE' | translate}}</span>
    <button mat-stroked-button [routerLink]="'/book/list'" style="padding-left: 1rem">
      <span>{{ 'HEADER.LINK.BOOKS' | translate }} </span>
    </button>
    <button mat-stroked-button [routerLink]="'/artist'" style="padding-left: 1rem">
      {{ 'HEADER.LINK.ARTISTS' | translate }}
    </button>
  </div>
  <div fxFlex="25" *ngIf="isAuthenticated$ | async">
    <app-header-input></app-header-input>
  </div>
  <div>
    <div *ngIf="isAuthenticated$ | async; else loginButton " fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem">
      <div>
        <a [href]="urlScanner | async" target="_blank"  mat-stroked-button class="clickable" style="padding-left: 1rem">
          {{ 'HEADER.LINK.SCANNER' | translate }}
          <fa-icon style="padding-left: 0.25rem" [icon]="['fas', 'barcode']"></fa-icon>
        </a>
      </div>
      <div>
        <app-task-header-menu></app-task-header-menu>
      </div>
      <button class="btn-icon"
              mat-icon-button [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu">
        <fa-icon [icon]="['fas', 'user-circle']" [size]="'2x'"></fa-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="books">
          {{'HEADER.MENU.BOOK.LABEL' | translate}}
        </button>
        <button mat-menu-item [matMenuTriggerFor]="series">
          {{'HEADER.MENU.SERIES.LABEL' | translate}}
        </button>
        <button mat-menu-item [matMenuTriggerFor]="artists">
          {{'HEADER.MENU.ARTIST.LABEL' | translate}}
        </button>
        <button mat-menu-item [routerLink]="'/administration/edition/borrower'">
          {{'HEADER.MENU.BORROWER.LABEL' | translate}}
        </button>
        <button mat-menu-item [matMenuTriggerFor]="bookTypes">
          {{'HEADER.MENU.BOOK_TYPE.LABEL' | translate}}
        </button>
        <button (click)="signOut()" mat-menu-item>
          <fa-icon [icon]="['fas', 'sign-out-alt']" style="padding-right: 10px"></fa-icon>
          {{'HEADER.SIGN_OUT' | translate}}
        </button>
      </mat-menu>
      <mat-menu #books="matMenu">
        <button mat-menu-item [routerLink]="'/administration/edition/book'">
          {{'HEADER.MENU.BOOK.SUB_MENU.EDITION' | translate}}
        </button>
      </mat-menu>
      <mat-menu #artists="matMenu">
        <button mat-menu-item [routerLink]="'/administration/edition/artist'">
          {{'HEADER.MENU.ARTIST.SUB_MENU.EDITION' | translate}}
        </button>
      </mat-menu>
      <mat-menu #series="matMenu">
        <button mat-menu-item [routerLink]="'/administration/edition/series'">
          {{'HEADER.MENU.SERIES.SUB_MENU.EDITION' | translate}}
        </button>
      </mat-menu>
      <mat-menu #bookTypes="matMenu">
        <button mat-menu-item [routerLink]="'/administration/book-type/gestion'">
          {{'HEADER.MENU.BOOK_TYPE.SUB_MENU.EDITION' | translate}}
        </button>
      </mat-menu>
    </div>
    <ng-template #loginButton>
      <div fxFlex="25" *ngIf="(isAuthenticated$ | async) === false"
           class="clickable"
           (click)="login()">
        <button mat-stroked-button color="primary" style="padding-left: 1rem">
          <span>{{'HEADER.SIGN_IN.LABEL' | translate}}</span>
        </button>
      </div>
    </ng-template>
  </div>
</mat-toolbar>


