<form [formGroup]="form" (submit)="submit()" fxLayout="column" fxLayoutGap="2rem">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="row" fxLayoutGap="1rem">
      <div *ngIf="edition">
        <button mat-stroked-button mat-raised-button color="warn"
                [routerLink]="['/administration', 'book', 'edition']">
          <mat-label>
            <fa-icon [icon]="['fas', 'arrow-left']" style="padding-right: 10px"></fa-icon>
            {{'BOOK.FORM.ACTION.RETURN' | translate}}
          </mat-label>
        </button>
      </div>
      <h2>
        <app-title-display
          [isbn]="book?.isbn" [series]="getSeries()"
          [title]="form.value.title" [tome]="form.value.tome">
        </app-title-display>
      </h2>
    </div>
    <div [formGroup]="series" fxLayout="row">
      <app-book-type-form style="padding-right: 1rem" [form]="getBookTypeFormGroup()"></app-book-type-form>
      <div fxLayoutAlign="center center">
        <button mat-stroked-button mat-raised-button color="primary" [disabled]="form.invalid">
          <mat-label>{{'BOOK.FORM.ACTION.' + translateCategory | translate}}</mat-label>
        </button>
      </div>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex="35" fxLayout="column" fxLayoutGap="1rem" fxLayoutAlign="start center" style="height: inherit">
      <ngx-dropzone fxLayout="column" fxLayoutAlign="center center" (change)="onSelect($event)"
                    style="width: 75%; height: 600px; background-color: hsla(50, 33%, 25%, .0);">
        <app-loader-img
          *ngIf="!uploadCover"
          [imgContainerClass]="'mat-elevation-z2 cover'"
          [img]="(cover$ | async)">
        </app-loader-img>
      </ngx-dropzone>
      <div fxLayout="row" fxLayoutGap="2rem" fxLayoutAlign="center center">
        <a [href]="'https://www.google.com/search?tbm=isch&q='+book.isbn"
           target="_blank" mat-button mat-stroked-button>
          <!--          TODO use translation-->
          Search on Google images
        </a>
      </div>
    </div>
    <div fxFlex fxLayout="column">
      <div fxLayout="row" fxLayoutGap="2rem">
        <div fxLayout="column" fxFlex="45" fxLayoutGap="2rem">
          <div fxLayout="column">
            <h3>{{'BOOK.FORM.SECTION_TITLE.GLOBAL_INFORMATION' | translate}}</h3>
            <!-- Title - Series - Tome-->
            <div fxLayout="column">
              <mat-slide-toggle
                [disabled]="edition"
                [checked]="book.series.oneShot"
                (change)="switchToOneShot($event)"
                labelPosition="before" fxFlexAlign="end">
                {{'SERIES.ONE_SHOT' | translate}}
              </mat-slide-toggle>
              <div fxLayout="row" fxLayoutGap="1rem">
                <mat-form-field fxFlex="15">
                  <label>
                    <input matInput type="number" min="0" [placeholder]="'BOOK.FORM.TOME' | translate"
                           formControlName="tome"/>
                  </label>
                </mat-form-field>
                <mat-form-field fxFlex>
                  <mat-label> {{'BOOK.FORM.TITLE' | translate}} </mat-label>
                  <input matInput formControlName="title"/>
                  <mat-error
                    *ngIf="form.get('title').hasError('required')">{{'BOOK.FORM.ERRORS.REQUIRED' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="15">
                  <label>
                    <input matInput [placeholder]="'BOOK.FORM.YEAR' | translate" formControlName="year"
                           [value]="book.year"/>
                  </label>
                </mat-form-field>
              </div>
              <mat-form-field>
                <label>
                  <input matInput [placeholder]="'BOOK.FORM.COLLECTION' | translate"
                         formControlName="collection"
                         [value]="book.collection"/>
                </label>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="column">
            <h3>{{'BOOK.FORM.SECTION_TITLE.SERIES' | translate}}</h3>
            <app-series-form
              [edition]="edition" fxFlex [form]="series" (selection)="onSeriesSelection($event)"></app-series-form>
          </div>
          <div fxLayout="column">
            <h3>{{'BOOK.FORM.SECTION_TITLE.EDITOR' | translate}}</h3>
            <app-editor-form fxFlex [form]="editor" (selection)="onEditorSelection($event)"></app-editor-form>
          </div>
        </div>
        <mat-tab-group fxFlex="100">
          <mat-tab style="min-width: 100%">
            <ng-template mat-tab-label>
              <h3>{{'BOOK.FORM.SECTION_TITLE.ARTISTS' | translate}}</h3>
            </ng-template>
            <div fxLayout="column" fxFlex="100" style="margin-top: 1rem">
              <app-role-form (addContract)="addContract($event)"></app-role-form>
              <app-contract-form
                style="margin-top: 1rem"
                *ngFor="let contract of getFormContractsFromGroups(); let i = index"
                [index]="i"
                [form]="contract"
                (delete)="deleteContract($event)"
              ></app-contract-form>
            </div>
          </mat-tab>
          <mat-tab style="min-width: 100%">
            <ng-template mat-tab-label>
              <h3>{{'BOOK.FORM.SECTION_TITLE.METADATA' | translate}}</h3>
            </ng-template>
            <div fxLayout="column" fxFlex="100" style="margin-top: 1rem">
                            <app-book-metadata-form
                [form]="metadata"
                (updateOfferedStatus)="onUpdateOfferedStatus($event)"></app-book-metadata-form>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</form>
