<mat-list fxLayout="column" fxFlex>
  <app-book-type-edition-list-display
    *ngFor="let bookType of (bookTypeList$|async)"
    [bookType]=bookType>
  </app-book-type-edition-list-display>
  <app-book-type-creation-list-display></app-book-type-creation-list-display>

</mat-list>
