<mat-list-item role="listitem" style="padding-top: 10px" [ngClass]="{'edition-line': true, 'saved': (isSaved$ | async)}">
  <form [formGroup]="form" fxLayout="column" fxFlex="100">
    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1rem" style="margin-bottom: -0.5rem">
      <mat-form-field [matBadge]="getNbBooks()" fxFlex="100" matBadgePosition="before" matBadgeOverlap="false">
        <label>
          <input matInput formControlName="name">
        </label>
      </mat-form-field>
      <div fxLayoutGap="1rem">
        <button type="button" [disabled]="!isRemovable()" mat-button color="warn" (click)="delete()">
          <fa-icon [icon]="['fas', 'trash']"></fa-icon>
        </button>
      </div>
    </div>
    <mat-progress-bar *ngIf="progressBarState.display" [value]="getProgressBarValue(remainingSeconds|async)"
                      [mode]="progressBarState.type"></mat-progress-bar>
  </form>
</mat-list-item>
