@import "src/styles";

::ng-deep {

  .mat-list-item:not(:hover):not(:focus-within):not(.no-style) {
    .mat-form-field-label-wrapper, .mat-form-field-underline {
      opacity: 0;
    }

    .mat-button-toggle:not(.mat-button-toggle-checked) {
      background-color: transparent;
      opacity: 0.5;
    }
  }

  .mat-list-item {
    .mat-form-field-prefix {
      position: absolute;
      top: 0;
      font-size: 70%;
      color: $color-text-med;
    }

    .mat-form-field-label-wrapper, .mat-form-field-underline, .mat-button-toggle {
      transition: opacity 0.2s ease-out, background 0.2s ease-out;
    }
  }

  .edition-table {

    th.mat-header-cell:not(:first-child):not(:last-child),
    td.mat-cell:not(:first-child):not(:last-child),
    td.mat-footer-cell:not(:first-child):not(:last-child) {
      padding-right: 0.25rem;
      padding-left: 0.25rem;
    }

    .mat-button-toggle-label-content {
      line-height: 35px;
    }

    .mat-form-field.editable-field {
      width: 100%;

      .mat-form-field-infix {
        padding: 0.5em;
      }

      .mat-form-field-wrapper {
        padding-bottom: 0;
      }
    }
  }

  .edition-line {
    margin-bottom: 0.6rem;
    padding-top: 0.5rem;

    &.saved {
      animation: 0.5s ease-in-out saved;
    }
  }

  @keyframes saved {
    0% {
      background: transparent;
      box-shadow: transparent;
      border-radius: 0;
      transform: scale(1);
    }

    25% {
      background: rgba(0, 200, 0, 0.1);
      box-shadow: 0 0 2px rgba(0, 200, 0, 0.1);
      border-radius: 3px;
      transform: scale(0.995);
    }

    100% {
      background: transparent;
      box-shadow: transparent;
      border-radius: 0;
      transform: scale(1);
    }
  }

  .mat-column-name {
    flex: none;
    width: 20%;
  }

  .mat-column-action {
    flex: none;
    width: 5%;
  }

  tr.mat-row.example-detail-row {
    height: 0;
  }

  .example-element-row td {
    border-bottom-width: 0;
  }

  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
}
