<div fxLayout="column">
  <table mat-table [dataSource]="uiDatas" class="edition-table"
         [attr.aria-describedby]="'SERIES.EDITION.TABLE.HEADERS.DESCRIBED_BY' | translate">

    <ng-container matColumnDef="editor">
      <th mat-header-cell *matHeaderCellDef scope="col"> {{'SERIES.EDITION.TABLE.HEADERS.EDITOR' | translate}} </th>
      <td mat-cell *matCellDef="let element; let index = index" [formGroup]="uiDatas[index].form">
        <app-editor-form
          appearance="outline" classes="editable-field"
          [displayLabel]="false"
          [form]="getEditorGroup(index)">
        </app-editor-form>
      </td>
    </ng-container>

    <ng-container matColumnDef="bookType">
      <th mat-header-cell *matHeaderCellDef scope="col"> Type</th>
      <td mat-cell *matCellDef="let element; let index = index" [formGroup]="uiDatas[index].form.controls.editor">
        <app-book-type-form
          appearance="outline" [classes]="'editable-field'"
          style="padding-right: 1rem"
          [displayLabel]="false"
          [form]="getBookTypeFormGroup(index)">
        </app-book-type-form>
      </td>
    </ng-container>

    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef scope="col"> {{'SERIES.EDITION.TABLE.HEADERS.SERIES_NAME' | translate}} </th>
      <td mat-cell *matCellDef="let element; let index = index" [formGroup]="uiDatas[index].form">
        <mat-form-field appearance="outline" class="editable-field">
          <input matInput formControlName="displayName">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="oneShot">
      <th mat-header-cell *matHeaderCellDef scope="col"> One Shot</th>
      <td mat-cell *matCellDef="let element; let index = index" [formGroup]="uiDatas[index].form">
        <mat-slide-toggle
          [disabled]="uiDatas[index].item.seriesBookCount > 1"
          [checked]="uiDatas[index].item.oneShot"
          (change)="switchToOneShot($event, index)"
          fxFlexAlign="end">
        </mat-slide-toggle>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef scope="col"></th>
      <td mat-cell *matCellDef="let element; let index = index" [formGroup]="uiDatas[index].form">
        <button mat-button type="button" color="warn" [disabled]="!isRemovable(index)" (click)="delete(index)">
          <fa-icon [icon]="['fas', 'trash']"></fa-icon>
        </button>
        <app-progressbar [start]="uiDatas[index].start" (finish)="onFinish(index)"></app-progressbar>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        [ngClass]="{'edition-line': true, 'saved': (uiDatas[index].isSaved | async)}"
        *matRowDef="let row; columns: displayedColumns; let index = index"
    >
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="pageSizes"
                 [pageIndex]="currentPage$ | async"
                 [length]="totalCount$ | async"
                 [pageSize]="pageSize$ | async"
                 (page)="onNewPage($event)">
  </mat-paginator>
</div>
